[submodule "firmware/sensor/components/arduino"]
	path = firmware/sensor/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "firmware/sensor/components/Adafruit_SSD1306"]
	path = firmware/sensor/components/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306
[submodule "firmware/sensor/components/Adafruit-GFX-Library"]
	path = firmware/sensor/components/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "firmware/sensor/components/Adafruit_BusIO"]
	path = firmware/sensor/components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
