# Ignore .pyc files
*.pyc
# Ignore Python cache directories
__pycache__/
bangnet_cloud/__pycache__/
bangnet_cloud/cloud_app/__pycache__/
bangnet_cloud/db_opera.py
bangnet_cloud/.DS_Store
.idea/
.DS_Store
/firmware/sensor/build
/firmware/sensor/managed_components
/firmware/sensor/sdkconfig
/firmware/sensor/sdkconfig.old
/firmware/sensor/secure_boot_signing_key.pem
/firmware/servo/build
/firmware/servo/managed_components
/firmware/servo/sdkconfig
/firmware/servo/sdkconfig.old
/firmware/servo/secure_boot_signing_key.pem
/firmware/camera/build
/firmware/camera/managed_components
/firmware/camera/sdkconfig
/firmware/camera/sdkconfig.old
/firmware/camera/secure_boot_signing_key.pem
